# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!example.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test artifacts
*_score.txt

# LocalStack
localstack-data/
provider_override.tf
